{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="text-center">
        <p>Are you sure? You can see this note only once and then it will be gone forever!</p>
        <form method="POST" novalidate>
            {% csrf_token %}
            <input type="hidden" name="__confirm__" value="1">
            <input class="btn btn-danger" type="submit" value="Proceed to the note">
            <br/>
            <br/>
            <a class="btn btn-success btn-sm" href="{% url 'index' %}">go to main page</a>
        </form>
    </div>
</div>

{% endblock %}