{% extends "base.html" %}
{% block content %}

<div class="containter">
    <div class="col-* form-group">
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="row">
                <textarea class="form-control" name="message_body"></textarea>
            </div>
            <br/>
            <div class="row-md-4 text-center">
                <input class="btn" type="submit" value="submit message">
            </div>
        </form>
    </div>
</div>

{% endblock %}