{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col" style="margin:auto;">
            <label>URL to your message: </label>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <input type="url" class="form-control" value="{{ request.build_absolute_uri }}note/show/{{ msg_id }}"
                   spellcheck="false" id="msg_id">
        </div>
        <button class="btn" onclick="copyToClipboard()">Copy to clipboard</button>
    </div>
    <div class="col-md-1"></div>
</div>
<br/>
<button class='btn text-center' onclick="location.href='{% url 'note_show' msg_id %}'">go to the note</button>
</div>

<script>
    function copyToClipboard() {
    var text = document.getElementById("msg_id");
    text.select();
    document.execCommand("copy");
    }
</script>
{% endblock %}